{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Contenido principal -->
    <div class="container mt-4">
        <h1 class="mb-4">Welcome to the Movie Reviews Home Page!, {{name}}</h1>

        <!-- Formulario de búsqueda -->
        <form action="" method="get">
            <div class="mb-3">
                <label for="searchMovie" class="form-label">Search for Movie:</label>
                <input type="text" class="form-control" name="searchMovie" id="searchMovie" />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
            <!-- Formulario de suscripción a la lista de correo -->
            <form action="{% url 'signup' %}" method="get" class="mt-4">
                <div class="mb-3">
                    <label for="email" class="form-label">Subscribe to our mailing list:</label>
                    <input type="email" class="form-control" name="email" id="email" required />
                </div>
                <button type="submit" class="btn btn-success">Sign Up</button>
            </form>

        <p class="mt-3">Searching for <strong>{{ searchTerm }}</strong></p>

        <!-- Listado de películas -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for movie in movies %}
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        {% if movie.image %}
                            <img src="{{ movie.image.url }}" class="card-img-top" alt="{{ movie.title }}">
                        {% else %}
                            <img src="{% static 'movie/images/default.jpg' %}" class="card-img-top" alt="{{ movie.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <p class="card-text">{{ movie.description }}</p>
                            <p class="card-text"><strong>Genre:</strong> {{ movie.genre }}</p>
                            <p class="card-text"><strong>Year:</strong> {{ movie.year }}</p>
                            {% if movie.url %}
                                <a href="{{ movie.url }}" target="_blank" class="btn btn-primary">Go somewhere</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
